.content__items {
  min-height: 800px;
  display: grid;
  grid-template-columns: repeat(3, 260px);
  justify-content: space-around;

  @media (max-width: 1130px) {
    grid-template-columns: repeat(2, 260px);
    justify-content: space-around;
  }

  @media (max-width: 750px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.content__button {
  width: 65%;
}
.pagin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ul__pagin {
  display: flex;
}

.ul__pagin-li {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ecd2c3;
  color: #dbbba9;
  background-color: #fff;
  @media (max-width: 410px) {
    margin-right: 15px;
  }
  @media (max-width: 320px) {
    margin-right: 10px;
  }
  cursor: pointer;
  &:hover {
    background-color: #ecd2c3;
    span {
      color: #fff;
    }
  }
  &.active-pagin {
    background-color: #ebc7b3;
    border-color: #ebc7b3;
    color: #fff;
  }
}
