@import "../../scss/variables";

.cart {
  &__top {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 600px) {
      margin-top: 30px;
    }
    @media (max-width: 430px) {
      margin-top: 20px;
    }
    @media (max-width: 370px) {
      margin-top: 10px;
    }
    &-img {
      width: 30px;
      height: 30px;
      margin-right: 20px;
      margin-bottom: 10px;
      @media (max-width: 420px) {
        margin-right: 10px;
      }
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
      @media (max-width: 840px) {
        font-size: 26px;
      }
      @media (max-width: 560px) {
        font-size: 22px;
      }
      @media (max-width: 480px) {
        font-size: 20px;
        margin-left: 4px;
      }
      @media (max-width: 400px) {
        margin-right: 2px;
        font-size: 14px;
      }
    }

    span,
    img,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      img {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }
      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }
  .cart__wrap-info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 760px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .k {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    @media (max-width: 760px) {
      width: 100%;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid $gray-line;
    padding-top: 30px;
    margin-top: 30px;
    @media (max-width: 510px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-img {
      display: flex;
      align-items: center;
      margin-right: 15px;
      width: 200px;
      @media (max-width: 510px) {
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
      }

      img {
        width: 100%;
        height: 180px;
        border-radius: 8px;
        @media (max-width: 510px) {
          width: 300px;
          height: 300px;
        }
        @media (max-width: 510px) {
          width: 290px;
          height: 290px;
        }
        @media (max-width: 420px) {
          width: 260px;
          height: 260px;
        }
        @media (max-width: 380px) {
          width: 220px;
          height: 220px;
        }
        @media (max-width: 320px) {
          width: 200px;
          height: 200px;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      @media (max-width: 760px) {
        width: 100%;
      }

      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        @media (max-width: 760px) {
          margin-bottom: 20px;
        }
        @media (max-width: 540px) {
          margin-bottom: 10px;
        }
      }

      p {
        font-size: 18px;
        color: #8d8d8d;
        @media (max-width: 760px) {
          margin-bottom: 20px;
        }
        @media (max-width: 540px) {
          margin-bottom: 10px;
        }
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 30%;
      @media (max-width: 920px) {
        width: 35%;
      }
      @media (max-width: 760px) {
        width: 30%;
      }
      @media (max-width: 660px) {
        width: 35%;
      }
      @media (max-width: 580px) {
        width: 40%;
      }
      @media (max-width: 540px) {
        width: 44%;
      }

      b {
        font-size: 22px;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;
      @media (max-width: 760px) {
        margin-right: 16px;
      }
      @media (max-width: 530px) {
        margin-right: 0px;
      }

      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;
      }
    }

    &-remove {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 4%;

      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      .button {
        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 50px 0;

    &-details {
      display: flex;
      justify-content: space-between;
      @media (max-width: 580px) {
        margin: 30px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      span {
        font-size: 22px;
        @media (max-width: 580px) {
          margin-bottom: 20px;
        }

        &:last-of-type {
          b {
            color: rgb(119, 68, 202);
          }
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
      @media (max-width: 520px) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;

        border-color: darken($color: $gray-line, $amount: 10);

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 500;
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        img {
          margin-right: 12px;
          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }
    }
  }

  &--empty {
    margin: 0 auto;
    width: 100%;
    text-align: center;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
      @media (max-width: 560px) {
        font-size: 28px;
      }
      @media (max-width: 430px) {
        font-size: 22px;
      }
      @media (max-width: 360px) {
        font-size: 18px;
      }
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
      @media (max-width: 560px) {
        font-size: 14px;
      }
      @media (max-width: 430px) {
        font-size: 12px;
      }
      @media (max-width: 360px) {
        font-size: 10px;
      }
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;
      @media (max-width: 430px) {
        margin: 35px auto 40px;
        width: 280px;
      }
      @media (max-width: 360px) {
        margin: 25px auto 40px;
        width: 260px;
      }
      @media (max-width: 330px) {
        margin: 25px auto 30px;
        width: 230px;
      }
      @media (max-width: 300px) {
        margin: 15px auto 20px;
        width: 200px;
      }
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}

.cart__details-price {
  b {
    color: #dbbba9 !important;
  }
  & .old {
    text-decoration: line-through;
    margin-right: 5px;
  }
}
.cart__item-count-plus {
  font-size: 20px;
}
.cart__item-count-minus {
  font-size: 28px;
  span {
    margin-top: -5px;
  }
}
